* {
    font-family: "Roboto", sans-serif;
}

body {
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

/*header and hero*/
.header, .hero {
    background-color: #1f2937;
    color: white;
    padding: 50px 17vw;
}

.header { /*logo  and links*/
    display: flex;
    justify-content: space-between;
}

.hero {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 0px;
}

.title { /*This website is awesome*/
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 10px;
}

a { /*links format*/
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
}

.subtext { /*under this website is awesome*/
    color: #E5E7EB;
    font-size: 18px;
    max-width: 450px;
}

ul { /*the links are in an ul*/
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 20px;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    border-style: none;
    width: 100px;
    height: 30px;
    font-weight: 600;
}

.hero .placeholder {
    min-width: 450px;
    height: 250px;
    background-color: #ffffff5e;
    border: 1px solid #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*some random information*/
.random {
    text-align: center;
    padding-bottom: 100px;
}

.random .title{
    font-weight: 900;
    font-size: 36px;
    color: #1f2937;
    margin: 0px;
    padding: 0px;
}

.info {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
}

.square {
    height: 150px;
    width: 150px;
    border: 3px solid #3882F6;
    border-radius: 20px;
}

/*quote*/
.quote {
    background-color: #E5E7EB;
    color: #1f2937;
    font-size: 36px;
    font-weight: 100;
    padding: 70px 19vw;
}

.client {
    text-align: right;
    font-size: 24px;
}

/*call to action*/
.call {
    margin: 50px 15vw;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 20px 100px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.action {
    font-size: 18px;
    margin-bottom: -10px;
}

.call button {
    border: 2px solid #F9FAF8;
}

/*footer*/
.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}
